# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Build files
dist/
build/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db